body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

/* Header styles */
header {
  background-color: #333;
  color: #0bc017;
  padding: 20px;
  text-align: center;
}

/* Main container */
.container {
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}


/* Rewards section styles */
.rewards {
  width: 75%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;
  align-items: flex-start;
}

.reward-item {
  width: calc(30% - 20px);
  text-align: center;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.reward-image {
  width: 100%;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #25cd41;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}